# MPG Cars

### Introduction:



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the  datasets [cars1.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv) from the folder

In [5]:
df1=pd.read_csv('cars1.csv')
df2=pd.read_csv('cars2.csv')

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [7]:
cars1=df1
cars2=df2

### Step 4. It seems our first dataset has some unnamed blank columns, fix cars1

In [13]:
cars1.dropna(axis=1,inplace=True)

### Step 5. What is the number of observations in each dataset?

In [18]:
a=cars1.columns
a

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [20]:
for i in cars2:
    if i in a:
        print('common column names',i)
    else:
        print('not common columns',i)

common column names mpg
common column names cylinders
common column names displacement
common column names horsepower
common column names weight
common column names acceleration
common column names model
common column names origin
common column names car

### Step 6. concat cars1 and cars2 into a single DataFrame called cars

In [29]:
cars=pd.concat([cars1,cars2],axis=0)

### Step 7. There is a column missing, called owners. Create a random number Series from 1 to 5.

In [33]:
owners=np.random.randint(15000,73000,cars.shape[0])

### Step 8. Add the column owners to cars

In [35]:
cars['owners']=owners

In [37]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,56506
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,59364
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,44762
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,19850
4,17.0,8,302,140,3449,10.5,70,1,ford torino,21209
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,36552
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,62466
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,58823
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,23974
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,71657